{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MemoVision Pro{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'memoapp/css/style.css' %}">
</head>

<body data-page="{% block body_page %}{% endblock %}">
    {% if messages %}
        <div class="message-stack">
            {% for message in messages %}
                <div class="message-item {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="{% static 'memoapp/js/app.js' %}"></script>
</body>
</html>